.container {
  display: flex;
  flex-wrap: wrap; /* Adicionado para permitir que os elementos sejam ajustados quando o espaço não for suficiente */
}

.column {
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 300px; /* Adicionado para evitar que a coluna fique muito estreita */
}

.centered-title {
  text-align: center;
  padding: 22px;
}

.textoParceiro {
  margin-top: 20px;
  font-size: 17px;
  margin-left: 20px;
  padding-right: 20px;
}

/* .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  grid-gap: 10px;
} */

.card {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

.img {
  flex: 1;
  width: 100%;
  height: auto;
  border-radius: 5%;
  border: 2px solid rgba(1, 65, 43, 0.521);
  padding: 2px;
  box-shadow: 4px 4px 3px rgba(44, 44, 44, 0.3);
}

.imgDireita {
  width: 400px;
  height: auto;
  border-radius: 5%;
  border: 2px solid rgba(1, 65, 43, 0.521);
  padding: 2px;
  box-shadow: 4px 4px 3px rgba(44, 44, 44, 0.3);
}

.card-grid {
  display: grid;
  grid-gap: 10px;
}

@media (min-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}