.img1 {
  border-radius: 60px !important;
  
  width: 350px;
  height: 350px;
}

.img2 {
  border-radius: 40px !important;
  
  margin: 60px !important;
  width: 500px;
  height: 300px;
}

.margin {
  margin-bottom: 40px !important;
  margin-top: 90px !important;
}

.textStyle {
  text-align: justify !important;
}

.textTitle {
  font-weight: 600 !important;
  margin-bottom: 15px !important;
}

@media (max-width: 768px) {
  .img1 {
    
    margin: 0 auto !important;
    display: block !important;
  }

  .img2 {
   
    margin: 30px auto !important;
    display: none !important;
  }

}
