.text-decorator-none {
    text-decoration: none;
}

.input-busca {
    width: 800px;
    display: block;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background-color: #ffffff!important;
    border-color: #979797!important;
    border-radius: 60px!important;
    

}

.input-busca::placeholder{
  color: #000000!important;
}

.btn-12 {
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 130px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
    cursor: pointer;
    
  }
  
  .btn-12 span {
    background: #9fc490!important;
    background: linear-gradient(0deg, #c0dfa1dc , #69a14e);
    display: block;
    position: absolute;
    width: 130px;
    height: 40px;
   
    border-radius: 5px;
    margin: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  
  .btn-12 span:nth-child(1) {
   
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  
  .btn-12 span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  
  .btn-12:hover span:nth-child(1) {
  
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  
  .btn-12:hover span:nth-child(2) {
   
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }

  .foto-produto{
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 30px;
}

.foto-produto:hover{
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.saiba{
  color: #37701b;
  font-weight: bold!important;
  margin-top: 10px!important;
  margin-bottom: 15px!important;
}

.produtoNome{
  color: #37701b;
  font-weight: bold!important;
}

.botao-carregarMais{
  background-color: #465362!important;
  color: white  !important;
  border-radius: 40px!important;
  width: 240px!important;
}

.subTitle{
  font-size: 14px!important;
}

.title{
  font-size: 24px!important;
  font-weight: 600!important;
}

