.botao{
    background-color: white!important;
    color:black!important;
}

.botao:hover{
  background-color: #527146!important;
  color: white!important;
}

.botao2{
    background-color: white!important;
    color:black!important;
    
}
.imagem {
    width:150px!important; /* Defina o tamanho desejado para a largura */
    height: auto!important; /* A altura será ajustada automaticamente proporcionalmente à largura */

  }
  .navbar{
    background-color: #ffffff!important;
    box-shadow: none!important;

  }
  .linha:hover {
    color: #527146!important;

  }

  .fonte{}