.botao{
    background-color: white!important;
    color:black!important;
}

.botao:hover{
  background-color: #527146!important;
  color: white!important;
}

.botao2{
    background-color: white!important;
    color:black!important;
    
}
.imagem {
    width: 80px; /* Defina o tamanho desejado para a largura */
    height: auto; /* A altura será ajustada automaticamente proporcionalmente à largura */
  }
  .navbar{
    background-color: rgba(0, 0, 0, 0)!important;

  }
  .linha:hover {
    color: #527146!important;
  }
  .fonte{}