.topo{
    margin-top: 20px;
}

.perfilBanner img {
    width: 10vw;
    aspect-ratio: 1;
    border-radius: 10%;
    border: 2px solid black;
    padding: 3px;
}

.txtField{
    margin-left: 15px;
    
}

.buttonPost{
    margin-top: 120px!important;
}

.boxText{
    justify-content: space-between!important;
}
.size{
    width: 220px!important;   
}
.descricao{
    height: 200px!important;

}
.sizeLast{
    width: 220px!important;
}

.space{
    height: 200px!important;
}