.marginQna{
    margin: 20px!important;
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.border{
    border-radius: 15px!important;
    background-color: rgb(100, 100, 100);
}

.background{
    background-color: rgb(138, 138, 138);
    border-radius: 10px;
}

.titulo-perguntas{
    margin-bottom: 25px!important;
}

.sub-titulo-perguntas{
    padding-right: 10px;
}
