.perfilContainer {
    width: 80vw;
    margin-inline: auto;
    margin-block: 1.5rem;
    /* background: #f60; */
  }
  
  .perfilBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: row-reverse;
    padding: 0.5rem!important;
  }
  
  .perfilBanner img {
    width: 12 vw;
    background-color: rgba(0, 0, 0, 0.986);
    aspect-ratio: 1;
    border-radius: 10%;
    border: 2px solid black;
    padding: 3px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
  }
  
  .perfilUpdate {
    display: flex;
    justify-content: center;
  }
  
  .perfilUpdate form {
    width: 50vw;
  }
  
  .perfilPosts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
  }