.bg-carrinho{
  background-color: #143cee00 !important;
  padding: 40px 100px;
}

.brd-bt{
  border-bottom: 1px solid #8b8b8b2f;
  padding: 5px 40px;
  margin-top: 50px!important;
}

.container{
  background-color: #ffffff !important;
}
.image{
  width: 100%;
  max-width: 120px;
  border-radius: 20px;
	transition: 0.5s;
  aspect-ratio: 1;
}
.image:hover{
	scale: 1.2;
	transition: 0.5s;
}
.cardProduto{
  border-bottom: 1px solid #8b8b8b2f;
  padding: 20px 0;
  margin-bottom: 10px;
}

.mg-bt-60{
  margin-bottom: 60px !important;
}
.mg-bt-20{
  margin-bottom: 20px !important;
}

.mg-tp-20{
  margin-top: 20px !important;
}

.mg-rt-20{
  margin-right: 40px !important;
}

.text{
  color: #424242;
  font-size: 22px!important;
}

.endAlign{
  display: flex;
  justify-content: flex-end;
  border-bottom: 3px solid #0000!important;
}

.valor-total{
  margin-top: 40px;
}
.bold{
	font-weight: 400!important;
}

.total{
  font-size: 14px!important;
}

.value{
  font-size: 22px!important;
  padding-bottom: -5px!important;
  margin-bottom: -5px!important;
}

.btn{
background-color: #68865fde!important;
color: white!important;
font-size: 16px!important;
height: 45px!important;
}

.btn:hover{
  background-color: #fafafade!important;
  color: #069245!important;
  border: 0.5px solid #069245;
  }