.swiper-container{
    margin-top: 10px;
    width: 834px;
    height: 469px;
    margin-bottom: 50px;
}
.slide-item{
    width: 834px;
    height: 469px;
}

.slide-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}